/* body config. */
body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

nav, footer {
    background: #006dae;
}

h6 {
    color: #2a2a2a;
}
/* **************** */

/* Blinking Charger */
.blink {
    color: #006dae;
	animation: blink 1.3s linear infinite;
    display: inline;
}

@keyframes blink{
    50%{opacity: 0;}
}
/* **************** */


/* Icons and reference */
.elecMotor {
    width: 280px;
    height: 250px;
    float: left;
}

#wrench, #conversion, #recycle {
    color: darkcyan;
    font-size: 18px;
}

#enrol {
    color: firebrick;
    font-size: 22px;
}

#animationRef {
    font-size: 12px;
}
/* **************** */

/*
video {
    width: 100%;
    height: auto;
}
*/